src/conf/xml-resources/web-service-references/ACCatalogos_1/wsdl/www5.abaseguros.com/AutoConnect/ACCatalogos.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Abaseguros.AutoConnect" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Abaseguros.AutoConnect"><xs:complexType name="Token"><xs:sequence><xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Token" nillable="true" type="tns:Token"/><xs:complexType name="Error"><xs:sequence><xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Error" nillable="true" type="tns:Error"/><xs:complexType name="ReqObtenerMunicipioPorCP"><xs:sequence><xs:element minOccurs="0" name="Token" nillable="true" type="tns:Token"/><xs:element minOccurs="0" name="strEntrada" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="ReqObtenerMunicipioPorCP" nillable="true" type="tns:ReqObtenerMunicipioPorCP"/><xs:complexType name="ResObtenerMunicipioPorCP"><xs:sequence><xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="strSalida" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="ResObtenerMunicipioPorCP" nillable="true" type="tns:ResObtenerMunicipioPorCP"/></xs:schema>